# make docker-start venv py
.venv

ext/curl-8.5.0/src/tool_hugehelp.c

libcjson.a

pi-clang
pi-gcc

build

#non-cmake
gnostr-am

gnostr-*.patch
gnostr
gnostr-act
gnostr-cat
gnostr-cli
gnostr-client
gnostr-command
gnostr-configurator
gnostr-curl
gnostr-getrelays
gnostr-get-relays
gnostr-get-relays-c
gnostr-git
gnostr-git-instaweb
gnostr-gnode
gnostr-grep
gnostr-jq
gnostr-legit
gnostr-pi
gnostr-req
gnostr-set-relays
gnostr-sha256
gnostr-tests
web/gnostr-web
src/nostril/libnostri.a
src/nostril/nostril

libnostr.a

node_modules

## Cargo.lock
## Cargo.toml

## GIT-VERSION-FILE

## src/nostril/nostril

http_client
http_relay
nostro

cmake_install.cmake
CMakeFiles/

nostro.log.txt
server.crt
server.key

vostro
vostro.log.txt

desktop/gnostro.app

list_01.txt
list_02.txt
CHANGELOG
KEYS

!deps/gnostr-git/config.*
*.o
/.direnv/
.privenv

*.dylib

install_manifest.txt
response.txt
src/nostril/Makefile

Makefile
CMakeCache.txt

a.out
jsmin

gnostr-*.*.*-*-*
dist/gnostr-*.*.*-*-*
dist-*
/result
configurator.out*
configurator
.build-result
.buildcmd
!config.h
tags
/target

*.json

src/libcjson/bin/libcjson.a

dist
.dist-*

**.DS_Store
deps/.DS_Store

ext/boost_1_82_0
ext/secp256k1-0.3.2/CTestTestfile.cmake
ext/secp256k1-0.3.2/DartConfiguration.tcl
ext/secp256k1-0.3.2/src/CTestTestfile.cmake
ext/secp256k1-0.3.2/src/libsecp256k1-config-version.cmake
ext/secp256k1-0.3.2/src/libsecp256k1-config.cmake
ext/secp256k1-0.3.2/examples/CTestTestfile.cmake

ext/wt-4.10.0/wt-config-version.cmake
ext/wt-4.10.0/wt-config.cmake
ext/wt-4.10.0/examples

ext/wxWidgets-3.2.2.1


deps/gnostr-proxy/resources/js/isomophic-git/__tests__/


## libgit.a
libjq.a
libtclstub.a
libsecp256k1.a

bin

.gnostr/gnostr-proxy
.nvmrc
.gnostr/proxy
.gnostr

.github/.DS_Store
.github/workflows/.DS_Store

pubkeys.txt

ext/wt-4.10.0/CMakeDoxyfile.in
ext/wt-4.10.0/CMakeDoxygenDefaults.cmake
ext/wt-4.10.0/Wt/
ext/wt-4.10.0/src/AuthCssTheme_xml.C
ext/wt-4.10.0/src/AuthStrings_xml.C
ext/wt-4.10.0/src/Boot_html.C
ext/wt-4.10.0/src/Boot_js.C
ext/wt-4.10.0/src/Bootstrap3Theme_xml.C
ext/wt-4.10.0/src/Bootstrap5Theme_xml.C
ext/wt-4.10.0/src/BootstrapTheme_xml.C
ext/wt-4.10.0/src/Hybrid_html.C
ext/wt-4.10.0/src/Plain_html.C
ext/wt-4.10.0/src/WCartesianChart_js.C
ext/wt-4.10.0/src/Wt_js.C
ext/wt-4.10.0/src/Wt_xml.C
ext/wt-4.10.0/wt_config.xml
wostro.log.txt

ext/Simple-WebSocket-Server-v2.0.2/bash_profile.log
ext/wt-4.10.0/bash_profile.log
ext/wt-4.10.0/examples/gitmodel/gitview.wt
ext/wt-4.10.0/examples/wt-homepage/Home.wt
ext/wt-4.10.0/examples/wt-homepage/bash_profile.log
ext/wt-4.10.0/test/test.http
ext/wt-4.10.0/test/test.mssqlserver
ext/wt-4.10.0/test/test.sqlite3
ext/wt-4.10.0/test/test.wt

src/nostril/.envrc
src/nostril/.github/
src/nostril/.gitignore
src/nostril/.gitmodules
src/nostril/default.nix
src/nostril/devtools/
src/nostril/doc/
src/nostril/nostril-query
src/nostril/scripts/
src/nostril/shell.nix

tests.log.txt
web/wt_config.xml
web/APP_KEY
.gnostr/org
.gnostr/web

#gnostr-act:gnostr-alpine.tml
gnostr-alpine

# Added by cargo
#
# already existing elements were commented out

#/target
.gnostr/webview


#test

gnostr-get-relays-test
gnostr-sha256-tests
gnostr-test
gnostr-tests.ld_Fyo5JH

#ext
ext/curl-8.5.0/CMake/cmake_uninstall.cmake
ext/curl-8.5.0/autom4te.cache/
ext/curl-8.5.0/config.log
ext/curl-8.5.0/configure~
ext/curl-8.5.0/curl-config
ext/curl-8.5.0/curl-target.cmake
ext/curl-8.5.0/docs/examples/.deps/
ext/curl-8.5.0/generated/
ext/curl-8.5.0/lib/.deps/
ext/curl-8.5.0/lib/Makefile.inc.cmake
ext/curl-8.5.0/lib/Makefile.soname.cmake
ext/curl-8.5.0/lib/curl_config.h
ext/curl-8.5.0/lib/libcurl.vers
ext/curl-8.5.0/lib/stamp-h1
ext/curl-8.5.0/lib/vauth/.deps/
ext/curl-8.5.0/lib/vquic/.deps/
ext/curl-8.5.0/lib/vssh/.deps/
ext/curl-8.5.0/lib/vtls/.deps/
ext/curl-8.5.0/libcurl-target.cmake
ext/curl-8.5.0/libcurl.pc
ext/curl-8.5.0/libtool
ext/curl-8.5.0/run-compiler
ext/curl-8.5.0/src/.deps/
ext/curl-8.5.0/src/Makefile.inc.cmake
ext/curl-8.5.0/src/curl
ext/curl-8.5.0/src/gnostr-curl
ext/curl-8.5.0/tests/config
ext/curl-8.5.0/tests/configurehelp.pm
ext/curl-8.5.0/tests/data/Makefile.inc.cmake
ext/curl-8.5.0/tests/http/clients/.deps/
ext/curl-8.5.0/tests/http/config.ini
ext/curl-8.5.0/tests/libtest/.deps/
ext/curl-8.5.0/tests/libtest/Makefile.inc.cmake
ext/curl-8.5.0/tests/libtest/chkhostname
ext/curl-8.5.0/tests/server/.deps/
ext/curl-8.5.0/tests/server/Makefile.inc.cmake
ext/curl-8.5.0/tests/unit/.deps/
ext/curl-8.5.0/tests/unit/Makefile.inc.cmake

ext/curl-8.5.0/lib/libcurl.a

##cargo vendor
vendor/aho-corasick/
vendor/assert_cmd/
vendor/autocfg/
vendor/base16ct/
vendor/base64ct/
vendor/bitflags-1.3.2/
vendor/bitflags/
vendor/block-buffer/
vendor/bstr/
vendor/cc/
vendor/cfg-if/
vendor/const-oid/
vendor/cpufeatures/
vendor/crypto-bigint/
vendor/crypto-common/
vendor/der/
vendor/difflib/
vendor/digest/
vendor/doc-comment/
## vendor/ecdsa/
vendor/either/
## vendor/elliptic-curve/
vendor/errno/
vendor/fastrand/
vendor/ff/
vendor/float-cmp/
vendor/generic-array/
## vendor/getrandom/
vendor/group/
vendor/hkdf/
vendor/hmac/
vendor/inline-c-macro/
vendor/inline-c/
vendor/itertools/
vendor/lazy_static/
vendor/libc/
vendor/linux-raw-sys/
vendor/memchr/
vendor/normalize-line-endings/
vendor/num-traits/
vendor/once_cell/
vendor/pest/
vendor/pkcs8/
vendor/predicates-core/
vendor/predicates-tree/
vendor/predicates/
vendor/proc-macro2/
vendor/quote/
## vendor/rand_core/
vendor/redox_syscall/
vendor/regex-automata-0.1.10/
vendor/regex-automata/
vendor/regex-syntax/
vendor/regex/
vendor/rfc6979/
vendor/rustc_version/
vendor/rustix/
vendor/sec1/
vendor/semver-parser/
vendor/semver/
vendor/signature/
vendor/spki/
vendor/subtle/
vendor/syn/
vendor/target-lexicon/
vendor/tempfile/
vendor/termtree/
vendor/thiserror-impl/
vendor/thiserror/
vendor/typenum/
vendor/ucd-trie/
vendor/unicode-ident/
vendor/version_check/
vendor/wait-timeout/
vendor/wasi/
vendor/windows-sys/
vendor/windows-targets/
vendor/windows_aarch64_gnullvm/
vendor/windows_aarch64_msvc/
vendor/windows_i686_gnu/
vendor/windows_i686_msvc/
vendor/windows_x86_64_gnu/
vendor/windows_x86_64_gnullvm/
vendor/windows_x86_64_msvc/
vendor/zeroize/

vendor/ecdsa/
vendor/elliptic-curve/
vendor/form_urlencoded/
vendor/getopts/
vendor/getrandom/
vendor/git2/
vendor/idna/
vendor/jobserver/
vendor/libgit2-sys/
vendor/libssh2-sys/
vendor/libz-sys/
vendor/log/
vendor/openssl-probe/
vendor/openssl-sys/
vendor/percent-encoding/
vendor/pkg-config/
vendor/tinyvec/
vendor/tinyvec_macros/
vendor/unicode-bidi/
vendor/unicode-normalization/
vendor/unicode-width/
vendor/url/
vendor/vcpkg/

PROCESS
_secp256k1/
_web/
bash_profile.log
comit/
fulcrum/
rust.html
src/blockheight.rs
template/gnostr-reflog-test
vendor/addr2line/
vendor/adler/
vendor/aead/
vendor/aes/
vendor/android-tzdata/
vendor/android_system_properties/
vendor/ansi_term/
vendor/anstream/
vendor/anstyle-parse/
vendor/anstyle-query/
vendor/anstyle-wincon/
vendor/anstyle/
vendor/anyhow/
vendor/ascii-canvas/
vendor/ascii/
vendor/async-trait/
vendor/atty/
vendor/backtrace/
vendor/base64-0.13.1/
vendor/base64/
vendor/bech32/
vendor/bit-set/
vendor/bit-vec/
vendor/bitcoin-internals/
vendor/bitcoin/
vendor/bitcoin_hashes-0.11.0/
vendor/bitcoin_hashes/
vendor/bitmaps/
vendor/block-padding/
vendor/bumpalo/
vendor/byteorder/
vendor/bytes/
vendor/cast/
vendor/cbc/
vendor/chacha20/
vendor/chacha20poly1305/
vendor/chrono/
vendor/cipher/
vendor/clap-2.34.0/
vendor/clap-verbosity-flag/
vendor/clap/
vendor/clap_builder/
vendor/clap_derive/
vendor/clap_lex/
vendor/colorchoice/
vendor/colored_json/
vendor/constant_time_eq/
vendor/convert_case/
vendor/core-foundation-sys/
vendor/core-foundation/
vendor/core-net/
vendor/crunchy/
vendor/deranged/
vendor/derive_more/
vendor/diff/
vendor/dirs-next/
vendor/dirs-sys-next/
vendor/ena/
vendor/encoding_rs/
vendor/equivalent/
vendor/fixedbitset/
vendor/fnv/
vendor/foreign-types-shared/
vendor/foreign-types/
vendor/futures-channel/
vendor/futures-core/
vendor/futures-io/
vendor/futures-sink/
vendor/futures-task/
vendor/futures-util/
vendor/fxhash/
vendor/gimli/
vendor/gnip44/
vendor/gnostr-bins/
vendor/gnostr-types/
vendor/gnostr-xq/
vendor/h2/
vendor/hashbrown-0.12.3/
vendor/hashbrown/
vendor/heck-0.3.3/
vendor/heck/
vendor/hermit-abi-0.1.19/
vendor/hermit-abi/
vendor/hex-conservative/
vendor/hex/
vendor/html-escape/
vendor/http-body/
vendor/http/
vendor/httparse/
vendor/httpdate/
vendor/hyper-rustls/
vendor/hyper-tls/
vendor/hyper/
vendor/iana-time-zone-haiku/
vendor/iana-time-zone/
vendor/imbl/
vendor/indexmap-1.9.3/
vendor/indexmap/
vendor/inout/
vendor/ipnet/
vendor/is-terminal/
vendor/itoa/
vendor/js-sys/
vendor/lalrpop-util/
vendor/lalrpop/
vendor/lexgen/
vendor/lexgen_util/
vendor/libredox/
vendor/lightning-invoice/
vendor/lightning/
vendor/linked-hash-map/
vendor/linkify/
vendor/lock_api/
vendor/mime/
vendor/minimal-lexical/
vendor/miniz_oxide/
vendor/mio/
vendor/native-tls/
vendor/new_debug_unreachable/
vendor/nom/
vendor/num-bigint/
vendor/num-complex/
vendor/num-conv/
vendor/num-derive/
vendor/num-integer/
vendor/num-iter/
vendor/num-rational/
vendor/num/
vendor/num_cpus/
vendor/num_threads/
vendor/object/
vendor/onig/
vendor/onig_sys/
vendor/opaque-debug/
vendor/openssl-macros/
vendor/openssl/
vendor/ordered-float/
vendor/parking_lot/
vendor/parking_lot_core/
vendor/parse-zoneinfo/
vendor/password-hash/
vendor/pbkdf2/
vendor/petgraph/
vendor/phf/
vendor/phf_codegen/
vendor/phf_generator/
vendor/phf_macros/
vendor/phf_shared/
vendor/pin-project-lite/
vendor/pin-utils/
vendor/poly1305/
vendor/powerfmt/
vendor/ppv-lite86/
vendor/precomputed-hash/
vendor/proc-macro-error-attr/
vendor/proc-macro-error/
vendor/proc-macro-hack/
vendor/rand/
vendor/rand_chacha/
vendor/rand_xoshiro/
vendor/redox_users/
vendor/regex-syntax-0.6.29/
vendor/reqwest/
vendor/ring-0.16.20/
vendor/ring/
vendor/rpassword/
vendor/rtoolbox/
vendor/rustc-demangle/
vendor/rustc_version-0.3.3/
vendor/rustls-0.20.9/
vendor/rustls-pemfile/
vendor/rustls-webpki/
vendor/rustls/
vendor/rustversion/
vendor/ryu/
vendor/salsa20/
vendor/schannel/
vendor/scopeguard/
vendor/scrypt/
vendor/sct/
vendor/secp256k1-0.24.3/
vendor/secp256k1-sys-0.6.1/
vendor/secp256k1-sys/depend/_secp256k1/
vendor/secp256k1/
vendor/security-framework-sys/
vendor/security-framework/
vendor/semver-0.11.0/
vendor/serde-xml-rs/
vendor/serde/
vendor/serde_derive/
vendor/serde_json/
vendor/serde_urlencoded/
vendor/serde_yaml/
vendor/sha1/
vendor/sha256/
vendor/shell-escape/
vendor/simplelog/
vendor/siphasher/
vendor/sized-chunks/
vendor/slab/
vendor/smallvec/
vendor/socket2/
vendor/spin-0.5.2/
vendor/spin/
vendor/string_cache/
vendor/strsim-0.8.0/
vendor/strsim/
vendor/structopt-derive/
vendor/structopt/
vendor/syn-1.0.109/
vendor/sync_wrapper/
vendor/system-configuration-sys/
vendor/system-configuration/
vendor/term/
vendor/termcolor/
vendor/textwrap/
vendor/thread-priority/
vendor/time-0.1.45/
vendor/time-core/
vendor/time-fmt/
vendor/time-macros/
vendor/time-tz/
vendor/time/
vendor/tiny-keccak/
vendor/tokio-native-tls/
vendor/tokio-rustls/
vendor/tokio-util/
vendor/tokio/
vendor/tower-service/
vendor/tracing-core/
vendor/tracing/
vendor/try-lock/
vendor/tungstenite/
vendor/unicode-segmentation/
vendor/unicode-xid/
vendor/universal-hash/
vendor/untrusted-0.7.1/
vendor/untrusted/
vendor/urlencoding/
vendor/utf-8/
vendor/utf8-width/
vendor/utf8parse/
vendor/vec_map/
vendor/want/
vendor/wasi-0.10.0+wasi-snapshot-preview1/
vendor/wasm-bindgen-backend/
vendor/wasm-bindgen-futures/
vendor/wasm-bindgen-macro-support/
vendor/wasm-bindgen-macro/
vendor/wasm-bindgen-shared/
vendor/wasm-bindgen/
vendor/web-sys/
vendor/webpki-roots-0.22.6/
vendor/webpki-roots/
vendor/webpki/
vendor/winapi-i686-pc-windows-gnu/
vendor/winapi-util/
vendor/winapi-x86_64-pc-windows-gnu/
vendor/winapi/
vendor/windows-core/
vendor/windows-sys-0.32.0/
vendor/windows-sys-0.48.0/
vendor/windows-targets-0.48.5/
vendor/windows_aarch64_gnullvm-0.48.5/
vendor/windows_aarch64_msvc-0.32.0/
vendor/windows_aarch64_msvc-0.48.5/
vendor/windows_i686_gnu-0.32.0/
vendor/windows_i686_gnu-0.48.5/
vendor/windows_i686_msvc-0.32.0/
vendor/windows_i686_msvc-0.48.5/
vendor/windows_x86_64_gnu-0.32.0/
vendor/windows_x86_64_gnu-0.48.5/
vendor/windows_x86_64_gnullvm-0.48.5/
vendor/windows_x86_64_msvc-0.32.0/
vendor/windows_x86_64_msvc-0.48.5/
vendor/winreg/
vendor/xml-rs/
vendor/xq-lang/
vendor/yaml-rust/
vendor/yansi/
