!src
!src/bin

target/doc
target/package

.DS_Store
*.DS_Store
**.DS_Store

#target
bash_profile.log
nostro_event.json
target/.rustc_info.json
target/.rustdoc_fingerprint.json
target/CACHEDIR.TAG
target/debug/
target/doc/.lock
target/doc/aead/
target/doc/aes/
target/doc/aho_corasick/
target/doc/base16ct/
target/doc/base64/
target/doc/base64ct/
target/doc/bech32/
target/doc/bitcoin/
target/doc/bitcoin_hashes/
target/doc/bitcoin_private/
target/doc/bitflags/
target/doc/block_buffer/
target/doc/block_padding/
target/doc/byteorder/
target/doc/bytes/
target/doc/cbc/
target/doc/cfg_if/
target/doc/chacha20/
target/doc/chacha20poly1305/
target/doc/cipher/
target/doc/const_oid/
target/doc/convert_case/
target/doc/core_foundation/
target/doc/core_foundation_sys/
target/doc/core_net/
target/doc/cpufeatures/
target/doc/crypto_bigint/
target/doc/crypto_common/
target/doc/der/
target/doc/derive_more/
target/doc/digest/
target/doc/ecdsa/
target/doc/elliptic_curve/
target/doc/encoding_rs/
target/doc/ff/
target/doc/fnv/
target/doc/form_urlencoded/
target/doc/futures_channel/
target/doc/futures_core/
target/doc/futures_io/
target/doc/futures_sink/
target/doc/futures_task/
target/doc/futures_util/
target/doc/generic_array/
target/doc/getrandom/
target/doc/group/
target/doc/h2/
target/doc/hashbrown/
target/doc/hex/
target/doc/hkdf/
target/doc/hmac/
target/doc/http/
target/doc/http_body/
target/doc/httparse/
target/doc/httpdate/
target/doc/hyper/
target/doc/hyper_rustls/
target/doc/idna/
target/doc/implementors/
target/doc/indexmap/
target/doc/inout/
target/doc/ipnet/
target/doc/itoa/
target/doc/k256/
target/doc/lazy_static/
target/doc/libc/
target/doc/lightning/
target/doc/lightning_invoice/
target/doc/linkify/
target/doc/log/
target/doc/memchr/
target/doc/mime/
target/doc/mio/
target/doc/nip44/
target/doc/nostr_types/
target/doc/num_cpus/
target/doc/num_traits/
target/doc/once_cell/
target/doc/opaque_debug/
target/doc/password_hash/
target/doc/pbkdf2/
target/doc/percent_encoding/
target/doc/pin_project_lite/
target/doc/pin_utils/
target/doc/pkcs8/
target/doc/poly1305/
target/doc/ppv_lite86/
target/doc/proc_macro2/
target/doc/quote/
target/doc/rand/
target/doc/rand_chacha/
target/doc/rand_core/
target/doc/regex/
target/doc/regex_automata/
target/doc/regex_syntax/
target/doc/reqwest/
target/doc/rfc6979/
target/doc/ring/
target/doc/rpassword/
target/doc/rtoolbox/
target/doc/rustls/
target/doc/rustls_pemfile/
target/doc/rustversion/
target/doc/ryu/
target/doc/salsa20/
target/doc/scrypt/
target/doc/sct/
target/doc/sec1/
target/doc/secp256k1/
target/doc/secp256k1_sys/
target/doc/serde/
target/doc/serde_derive/
target/doc/serde_json/
target/doc/serde_urlencoded/
target/doc/sha1/
target/doc/sha2/
target/doc/signature/
target/doc/slab/
target/doc/socket2/
target/doc/spin/
target/doc/spki/
target/doc/src/aead/
target/doc/src/aes/
target/doc/src/aho_corasick/
target/doc/src/base16ct/
target/doc/src/base64/
target/doc/src/base64ct/
target/doc/src/bech32/
target/doc/src/bitcoin/
target/doc/src/bitcoin_hashes/
target/doc/src/bitcoin_private/
target/doc/src/bitflags/
target/doc/src/block_buffer/
target/doc/src/block_padding/
target/doc/src/byteorder/
target/doc/src/bytes/
target/doc/src/cbc/
target/doc/src/cfg_if/
target/doc/src/chacha20/
target/doc/src/chacha20poly1305/
target/doc/src/cipher/
target/doc/src/const_oid/
target/doc/src/convert_case/
target/doc/src/core_foundation/
target/doc/src/core_foundation_sys/
target/doc/src/core_net/
target/doc/src/cpufeatures/
target/doc/src/crypto_bigint/
target/doc/src/crypto_common/
target/doc/src/der/
target/doc/src/derive_more/
target/doc/src/digest/
target/doc/src/ecdsa/
target/doc/src/elliptic_curve/
target/doc/src/encoding_rs/
target/doc/src/ff/
target/doc/src/fnv/
target/doc/src/form_urlencoded/
target/doc/src/futures_channel/
target/doc/src/futures_core/
target/doc/src/futures_io/
target/doc/src/futures_sink/
target/doc/src/futures_task/
target/doc/src/futures_util/
target/doc/src/generic_array/
target/doc/src/getrandom/
target/doc/src/group/
target/doc/src/h2/
target/doc/src/hashbrown/
target/doc/src/hex/
target/doc/src/hkdf/
target/doc/src/hmac/
target/doc/src/http/
target/doc/src/http_body/
target/doc/src/httparse/
target/doc/src/httpdate/
target/doc/src/hyper/
target/doc/src/hyper_rustls/
target/doc/src/idna/
target/doc/src/indexmap/
target/doc/src/inout/
target/doc/src/ipnet/
target/doc/src/itoa/
target/doc/src/k256/
target/doc/src/lazy_static/
target/doc/src/libc/
target/doc/src/lightning/
target/doc/src/lightning_invoice/
target/doc/src/linkify/
target/doc/src/log/
target/doc/src/memchr/
target/doc/src/mime/
target/doc/src/mio/
target/doc/src/nip44/
target/doc/src/nostr_types/
target/doc/src/num_cpus/
target/doc/src/num_traits/
target/doc/src/once_cell/
target/doc/src/opaque_debug/
target/doc/src/password_hash/
target/doc/src/pbkdf2/
target/doc/src/percent_encoding/
target/doc/src/pin_project_lite/
target/doc/src/pin_utils/
target/doc/src/pkcs8/
target/doc/src/poly1305/
target/doc/src/ppv_lite86/
target/doc/src/proc_macro2/
target/doc/src/quote/
target/doc/src/rand/
target/doc/src/rand_chacha/
target/doc/src/rand_core/
target/doc/src/regex/
target/doc/src/regex_automata/
target/doc/src/regex_syntax/
target/doc/src/reqwest/
target/doc/src/rfc6979/
target/doc/src/ring/
target/doc/src/rpassword/
target/doc/src/rtoolbox/
target/doc/src/rustls/
target/doc/src/rustls_pemfile/
target/doc/src/rustversion/
target/doc/src/ryu/
target/doc/src/salsa20/
target/doc/src/scrypt/
target/doc/src/sct/
target/doc/src/sec1/
target/doc/src/secp256k1/
target/doc/src/secp256k1_sys/
target/doc/src/serde/
target/doc/src/serde_derive/
target/doc/src/serde_json/
target/doc/src/serde_urlencoded/
target/doc/src/sha1/
target/doc/src/sha2/
target/doc/src/signature/
target/doc/src/slab/
target/doc/src/socket2/
target/doc/src/spin/
target/doc/src/spki/
target/doc/src/subtle/
target/doc/src/system_configuration/
target/doc/src/system_configuration_sys/
target/doc/src/thiserror/
target/doc/src/thiserror_impl/
target/doc/src/thread_priority/
target/doc/src/tinyvec/
target/doc/src/tinyvec_macros/
target/doc/src/tokio/
target/doc/src/tokio_rustls/
target/doc/src/tokio_util/
target/doc/src/tower_service/
target/doc/src/tracing/
target/doc/src/tracing_core/
target/doc/src/try_lock/
target/doc/src/tungstenite/
target/doc/src/typenum/
target/doc/src/unicode_bidi/
target/doc/src/unicode_ident/
target/doc/src/unicode_normalization/
target/doc/src/universal_hash/
target/doc/src/untrusted/
target/doc/src/url/
target/doc/src/utf8/
target/doc/src/want/
target/doc/src/webpki/
target/doc/src/webpki_roots/
target/doc/src/zeroize/
target/doc/static.files/main-c5bd66d33317d69f.js
target/doc/static.files/noscript-5d8b3c7633ad77ba.css
target/doc/static.files/rustdoc-fa3bb1812debf86c.css
target/doc/static.files/search-8be46b629f5f14a8.js
target/doc/static.files/settings-74424d7eec62a23e.js
target/doc/static.files/src-script-3280b574d94e47b4.js
target/doc/static.files/storage-fec3eaa3851e447d.js
target/doc/subtle/
target/doc/system_configuration/
target/doc/system_configuration_sys/
target/doc/thiserror/
target/doc/thiserror_impl/
target/doc/thread_priority/
target/doc/tinyvec/
target/doc/tinyvec_macros/
target/doc/tokio/
target/doc/tokio_rustls/
target/doc/tokio_util/
target/doc/tower_service/
target/doc/tracing/
target/doc/tracing_core/
target/doc/try_lock/
target/doc/tungstenite/
target/doc/typenum/
target/doc/unicode_bidi/
target/doc/unicode_ident/
target/doc/unicode_normalization/
target/doc/universal_hash/
target/doc/untrusted/
target/doc/url/
target/doc/utf8/
target/doc/want/
target/doc/webpki/
target/doc/webpki_roots/
target/doc/zeroize/
target/release/



##vendor
vendor/num-traits/
vendor/num_cpus/
vendor/object/
vendor/once_cell/
vendor/opaque-debug/
vendor/password-hash/
vendor/pbkdf2/
vendor/percent-encoding/
vendor/pin-project-lite/
vendor/pin-utils/
vendor/pkcs8/
vendor/poly1305/
vendor/ppv-lite86/
vendor/proc-macro2/
vendor/quote/
vendor/rand/
vendor/rand_chacha/
vendor/rand_core/
vendor/regex-automata/
vendor/regex-syntax/
vendor/regex/
vendor/reqwest/
vendor/rfc6979/
vendor/ring-0.16.20/
vendor/ring/
vendor/rpassword/
vendor/rtoolbox/
vendor/rustc-demangle/
vendor/rustc_version/
vendor/rustls-0.20.9/
vendor/rustls-pemfile/
vendor/rustls-webpki/
vendor/rustls/
vendor/rustversion/
vendor/ryu/
vendor/salsa20/
vendor/scrypt/
vendor/sct/
vendor/sec1/
vendor/secp256k1-0.24.3/
vendor/secp256k1-sys-0.6.1/
vendor/secp256k1-sys/
vendor/secp256k1/
vendor/semver/
vendor/serde/
vendor/serde_derive/
vendor/serde_json/
vendor/serde_urlencoded/
vendor/sha1/
vendor/sha2/
vendor/signature/
vendor/slab/
vendor/socket2-0.4.10/
vendor/socket2/
vendor/spin-0.5.2/
vendor/spin/
vendor/spki/
vendor/subtle/
vendor/syn-1.0.109/
vendor/syn/
vendor/system-configuration-sys/
vendor/system-configuration/
vendor/thiserror-impl/
vendor/thiserror/
vendor/thread-priority/
vendor/tinyvec/
vendor/tinyvec_macros/
vendor/tokio-rustls/
vendor/tokio-util/
vendor/tokio/
vendor/tower-service/
vendor/tracing-core/
vendor/tracing/
vendor/try-lock/
vendor/tungstenite/
vendor/typenum/
vendor/unicode-bidi/
vendor/unicode-ident/
vendor/unicode-normalization/
vendor/universal-hash/
vendor/untrusted-0.7.1/
vendor/untrusted/
vendor/url/
vendor/utf-8/
vendor/version_check/
vendor/want/
vendor/wasi/
vendor/wasm-bindgen-backend/
vendor/wasm-bindgen-futures/
vendor/wasm-bindgen-macro-support/
vendor/wasm-bindgen-macro/
vendor/wasm-bindgen-shared/
vendor/wasm-bindgen/
vendor/web-sys/
vendor/webpki-roots-0.22.6/
vendor/webpki-roots/
vendor/webpki/
vendor/winapi-i686-pc-windows-gnu/
vendor/winapi-x86_64-pc-windows-gnu/
vendor/winapi/
vendor/windows-sys/
vendor/windows-targets/
vendor/windows_aarch64_gnullvm/
vendor/windows_aarch64_msvc/
vendor/windows_i686_gnu/
vendor/windows_i686_msvc/
vendor/windows_x86_64_gnu/
vendor/windows_x86_64_gnullvm/
vendor/windows_x86_64_msvc/
vendor/winreg/
vendor/zeroize/
vendor/android-tzdata/
vendor/android_system_properties/
vendor/ansi_term/
vendor/ascii/
vendor/async-trait/
vendor/atty/
vendor/bitflags-1.3.2/
vendor/bitflags/
vendor/chrono/
vendor/clap/
vendor/getopts/
vendor/git2/
vendor/heck/
vendor/hermit-abi-0.1.19/
vendor/iana-time-zone-haiku/
vendor/iana-time-zone/
vendor/jobserver/
vendor/libgit2-sys/
vendor/libssh2-sys/
vendor/libz-sys/
vendor/openssl-probe/
vendor/openssl-sys/
vendor/pkg-config/
vendor/proc-macro-error-attr/
vendor/proc-macro-error/
vendor/sha256/
vendor/strsim/
vendor/structopt-derive/
vendor/structopt/
vendor/textwrap/
vendor/time/
vendor/unicode-segmentation/
vendor/unicode-width/
vendor/vcpkg/
vendor/vec_map/
vendor/wasi-0.10.0+wasi-snapshot-preview1/
vendor/windows-core/
vendor/windows-targets-0.48.5/
vendor/windows_aarch64_gnullvm-0.48.5/
vendor/windows_aarch64_msvc-0.48.5/
vendor/windows_i686_gnu-0.48.5/
vendor/windows_i686_msvc-0.48.5/
vendor/windows_x86_64_gnu-0.48.5/
vendor/windows_x86_64_gnullvm-0.48.5/
vendor/windows_x86_64_msvc-0.48.5/
